@model GoldLeadsMedia.Web.Models.ViewModels.LeadsAllViewModel

<h4 class="text-center">
    Select leads:
</h4>
<hr />

<table class="table table-sm">
    <tr class="row-header">
        <th>First name</th>
        <th>Last name</th>
        <th>Email</th>
        <th>PhoneNumber</th>
        <th>Country</th>
        <th>Offer</th>
        <th>Status</th>
    </tr>
    <tbody class="table-tbody">
        @foreach (var data in Model.Leads)
        {
            <tr class="table-row @if (data.HasBeenSend == false) {<text>clickable-table-row</text>}">
                <td>
                    @data.FirstName
                </td>
                <td>
                    @data.LastName
                </td>
                <td>
                    @data.Email
                </td>
                <td>
                    @data.PhoneNumber
                </td>
                <td>
                    @data.CountryName
                </td>
                <td>
                    @data.OfferName
                </td>
                @if (data.HasBeenSend)
                {
                    <td>
                        Already send
                    </td>
                }
                else
                {
                    <td>
                        <input type="checkbox" name="lead-id" value="@data.Id">
                    </td>
                }
            </tr>
        }
    </tbody>
</table>
<hr />
<div>
    <h4 class="text-center">
        Optional parameters:
    </h4>
    <div class="col-4">
        <label for="optional-offerId">Enter the offer Id given from partner</label>
        <input id="broker-offer-id" class="form-control" />
    </div>
</div>
<hr />
<div>
    <h4 class="text-center">
        Select broker:
    </h4>
    <div class="row">
        @foreach (var broker in Model.Brokers)
        {
            <div class="col-2">
                <label>
                    <input type="radio" name="broker-id" value="@broker.Id"> @broker.Name
                </label>
            </div>
        }
    </div>
    <div>
        <button class="btn btn-primary" id="send-leads-btn">Send</button>
    </div>
</div>

@section Scripts
{
    <script src="~/js/managers/confirmed_leads.js"></script>
}

