@model GoldLeadsMedia.Web.Models.ViewModels.LeadsAllViewModel

<div id="send-leads-success" class="alert alert-success" role="alert" style="display:none">Everything send successfully! Page will refresh in 3 seconds!</div>
<div id="send-leads-fail" class="alert alert-danger" role="alert" style="display:none"></div>

<h4 class="text-center">
    All leads:
</h4>
<hr />

<table class="table table-sm">
    <tr class="row-header">
        <th>First name</th>
        <th>Last name</th>
        <th>Email</th>
        <th>PhoneNumber</th>
        <th>Country</th>
        <th>Offer</th>
        <th>Status</th>
    </tr>
    <tbody class="table-tbody">
        @foreach (var lead in Model.Leads)
        {
            <tr class="table-row @if (lead.HasBeenSend == false) {<text>clickable-table-row</text>}">
                <td>
                    @lead.FirstName
                </td>
                <td>
                    @lead.LastName
                </td>
                <td>
                    @lead.Email
                </td>
                <td>
                    @lead.PhoneNumber
                </td>
                <td>
                    @lead.CountryName
                </td>
                <td>
                    @lead.OfferName
                </td>
                @if (lead.HasBecomeFtd)
                {
                    <td class="text-success">
                        Ftd
                    </td>
                }
                else if (lead.HasBeenSend)
                {
                    <td bclass="text-warning">
                        Already send
                    </td>
                }
                else
                {
                    <td>
                        <input type="checkbox" name="lead-id" value="@lead.Id">
                    </td>
                }
            </tr>
        }
    </tbody>
</table>
<hr />
<div>
    <h4 class="text-center">
        Select broker:
    </h4>
    <div class="row">
        @foreach (var broker in Model.Brokers)
        {
            <div class="col-2">
                <label>
                    <input type="radio" name="broker-id" value="@broker.Id"> @broker.Name
                </label>
            </div>
        }
    </div>
    <div>
        <button class="btn btn-primary" id="send-leads-btn">Send</button>
    </div>
</div>


@section Scripts
{
    <script src="~/js/leads/all.js"></script>
}

