@model GoldLeadsMedia.Web.Models.Leads.MyLeadsViewModel

@{
    ViewData["PageTitle"] = "List user leads";
}

@if (TempData["ConfirmLeads"] != null)
{
    if (TempData["ConfirmLeadsType"].ToString() == "1")
    {
        <div class="succMsg">
            @TempData["ConfirmLeads"]
        </div>
    }
    else
    {
        <div class="errMsg">
            @TempData["ConfirmLeads"]
        </div>
    }
}

<div class="col-12">
    <div class="row">
        <table class="table table-striped table-sm">
            <colgroup _ngcontent-ivo-c5="" class="ng-star-inserted">
                <col style="width:150px">
                <col style="width:80px">
                <col style="width:80px">
                <col style="width:80px">
                <col style="width:80px">
                <col style="width:80px">
                <col style="width:80px">
            </colgroup>
            <tr class="row-header">
                <th>Username</th>
                <th>Names</th>
                <th>Email</th>
                <th>PhoneNumber</th>
                <th>Country</th>
                <th>Offer Name</th>
                <th></th>
            </tr>
            <tbody class="table-tbody">
                @foreach (var data in Model.Leads)
                {
                    <tr class="table-row aff-details">
                        <td>
                            @data.UserName
                        </td>
                        <td>
                            @data.FirstName + @data.LastName
                        </td>
                        <td>
                            @data.Email
                        </td>
                        <td>
                            @data.PhoneNumber
                        </td>
                        <td>
                            @data.Country
                        </td>
                        <td>
                            @data.Offer
                        </td>
                        <td><input type="checkbox" name="lead_id" value="@data.Id"></td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
<div style="right:30px">
    <button class="btn btn-primary" @*type="submit"*@ id="submitLeadIds">Submit </button>
</div>

@section Scripts
{
    <script src="~/Content/js/leads/list_user_leads.js"></script>
}

