@model GoldLeadsMedia.Web.Models.ViewModels.OffersAllFilterViewModel

<div class="row">
    <div class="col-6"></div>
    <div class="col-6">
        <h3 class="display-3">Filters</h3>
        <hr />
        <form asp-controller="Offers" asp-action="All" method="get">
            <div class="form-row">
                <div class="form-group col-6">
                    <input asp-for="@Model.NumberOrName" placeholder="Number or name:" class="form-control">
                </div>
                <div class="form-group col-6">
                    <vc:countries-select-options></vc:countries-select-options>
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-6">
                    <vc:verticals-select-options></vc:verticals-select-options>
                </div>
                <div class="form-group col-6">
                    <vc:pay-types-select-options></vc:pay-types-select-options>
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-6">
                    <vc:target-devices-select-options></vc:target-devices-select-options>
                </div>
                <div class="form-group col-6">
                    <vc:accesses-select-options></vc:accesses-select-options>
                </div>
            </div>

            <div class="form-row">
                <div class="form-group col-6">
                    <button id="clear-filters-btn" class="btn btn-secondary"><b>Clear filters</b></button>
                </div>
                <div class="form-group col-6">
                    <input type="submit" value="Apply filters" class="btn btn-primary" />
                </div>
            </div>
        </form>
    </div>
</div>
<div class="row">
    <table class="table table-sm table-hover mx-auto">
        <tr class="row-header">
            <th>Number</th>
            <th>Name</th>
            <th>Pay per action</th>
            <th>Pay per lead</th>
            <th>Pay per click</th>
            <th>Tier country</th>
            <th>Language</th>
            <th>Vertical</th>
            <th>Flow</th>
            <th>Access</th>
        </tr>
        <tbody class="table-tbody">
            @foreach (var offer in Model.Offers)
            {
                <tr class="table-row row-details clickable-table-row" data-id="@offer.Id">
                    <td>
                        @offer.Number
                    </td>
                    <td>
                        @offer.Name
                    </td>
                    <td>
                        @offer.PayPerAction
                    </td>
                    <td>
                        @offer.PayPerLead
                    </td>
                    <td>
                        @offer.PayPerClick
                    </td>
                    <td>
                        @offer.TierCountry
                    </td>
                    <td>
                        @offer.Language
                    </td>
                    <td>
                        @offer.Vertical
                    </td>
                    <td>
                        @offer.ActionFlow
                    </td>
                    <td>
                        @offer.Access
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

@section Scripts
{
    <script src="~/js/offers/all.js"></script>
}