@model GoldLeadsMedia.Web.Models.ViewModels.OffersDetailsViewModel

<div class="row">
    <div class="col-12 col-sm-6">
        <h2 class="block-title">
            @Model.Name
        </h2>
    </div>
</div>
<div class="row">
    <div class="col-12 col-sm-6">
        <div class="text-box">
            <p>@Model.Description</p>
        </div>
    </div>
    <div class="col-12 col-sm-6">
        <img class="img-fluid" src="@Model.ImageUrl" alt="Offer profile picture" />
    </div>
</div>
<div class="row">
    <div class="col-12 col-md-12 col-sm-6">
        <div class="lead-wrap">
            <div class="lead">
                <div class="lead-label">
                    Number
                </div>
                <div class="lead-details">
                    @Model.Number
                </div>
            </div>
            <div class="lead">
                <div class="lead-label">
                    Per per action
                </div>
                <div class="lead-details">
                    @Model.PayPerAction
                </div>
            </div>
            <div class="lead">
                <div class="lead-label">
                    Pay per lead
                </div>
                <div class="lead-details">
                    @Model.PayPerLead
                </div>
            </div>
            <div class="lead">
                <div class="lead-label">
                    Pay per click
                </div>
                <div class="lead-details">
                    @Model.PayPerClick
                </div>
            </div>
            <div class="lead">
                <div class="lead-label">
                    Pay type
                </div>
                <div class="lead-details">
                    @Model.PayType
                </div>
            </div>
            <div class="lead">
                <div class="lead-label">
                    Language
                </div>
                <div class="lead-details">
                    @Model.Language
                </div>
            </div>
            <div class="lead">
                <div class="lead-label">
                    TierCountry
                </div>
                <div class="lead-details">
                    @Model.CountryTier
                </div>
            </div>
            <div class="lead">
                <div class="lead-label">
                    Vertical
                </div>
                <div class="lead-details">
                    @Model.Vertical
                </div>
            </div>
            <div class="lead">
                <div class="lead-label">
                    Device
                </div>
                <div class="lead-details">
                    @Model.Device
                </div>
            </div>
            <div class="lead">
                <div class="lead-label">
                    Access
                </div>
                <div class="lead-details">
                    @Model.Access
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="tracker-wrap col-12 col-md-12 col-sm-6">
        <div class="tracker-label">
            <h3 class="yellow-tittle">
                Tracking
            </h3>
        </div>
        <div class="tracker-actions">
            <a class="copyLink" style="cursor:pointer">
                <i class="mdi mdi-link-box-variant copyLink" title="Copy link"></i>
            </a>
            <a href="#" class="openNewTab" style="cursor:pointer">
                <i class="mdi mdi-login-variant openNewTab" title="Open page in new tab"></i>
            </a>
        </div>
        <div class="tracker-link">
            <p id="tracking-url">@Model.RedirectUrl</p>
        </div>
        <div class="tracker-help">
            <small>Tracking and iFrame form URLs update automatically</small>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-12 col-sm-4">
        <div class="url-builder-wrap">
            <h3 class="yellow-tittle">URL Builder</h3>
            <h4>Landings:</h4>
            @foreach (var landingPage in Model.LandingPages)
            {
                <div class="url clickable-table-row landing-page-info" data-landing-page-id="@landingPage.Id">
                    <div class="row">
                        <div class="col-8">
                            <p>@landingPage.Name</p>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>

</div>
<div class="row">
    <div class="col-12">
        <div class="pixel-form-wrap">
            <h3 class="yellow-tittle">Postbacks</h3>
            <hr />
            <form>
                <div class="form-group">
                    <label for="lead-postback-url">Your tracker lead register postback URL</label>
                    <input type="text" class="form-control" id="lead-postback-url" placeholder="Enter your tracker lead postback url." value="@Model.LeadPostbackUrl">
                </div>
                <div class="form-group">
                    <label for="ftd-postback-url">Your tracker ftd postback URL</label>
                    <input type="text" class="form-control" id="ftd-postback-url" placeholder="Enter your tracker ftd postback url." value="@Model.FtdPostbackUrl">
                </div>
                <div class="row">
                    <div class="col-4">
                        <button id="save-tracker-urls-btn" class="btn btn-primary text-center">Save</button>
                    </div>
                </div>
            </form>
        </div>
        <hr />
        <div id="tracker-url-save-success" class="alert alert-success text-center" role="alert" style="display:none">Tracker urls saved!</div>
        <div id="tracker-url-save-fail" class="alert alert-danger text-center" role="alert" style="display:none">Something went wrong!</div>
    </div>
</div>

@section Scripts
{
    <script src="~/js/offers/details.js"></script>
}
