@model GoldLeadsMedia.Web.Models.InputModels.AdministratorsCreateOfferInputModel

<div class="d-flex justify-content-center">
    <h2 class="display-3">Create new offer</h2>
</div>
<hr />
<div class="container">
    <form asp-controller="Administrators" asp-action="CreateOffer" method="post">
        <div asp-validation-summary="All" class="text-danger"></div>
        <div class="form-group row mx-auto">
            <div class="col-2">
                <input asp-for="@Model.Number" placeholder="Number:" class="form-control" />
            </div>
            <div class="col-6">
                <input asp-for="@Model.Name" placeholder="Name:" class="form-control" />
            </div>
            <div class="col-4">
                <vc:countries-select-options></vc:countries-select-options>
            </div>
        </div>
        <div class="form-group row mx-auto">
            <div class="col-9">
                <input asp-for="@Model.Description" placeholder="Description:" class="form-control" />
            </div>
            <div class="col-3">
                <vc:verticals-select-options></vc:verticals-select-options>
            </div>
        </div>
        <div class="form-group row mx-auto">
            <div class="col-3">
               <vc:pay-types-select-options></vc:pay-types-select-options>
            </div>
            <div class="col-2">
                <vc:target-devices-select-options></vc:target-devices-select-options>
            </div>
            <div class="col-3">
                <vc:accesses-select-options></vc:accesses-select-options>
            </div>
            <div class="col-4">
                <input asp-for="@Model.ActionFlow" placeholder="Action flow:" class="form-control" />
            </div>
        </div>
        <div class="form-group row mx-auto">
            <div class="col-4">
                <input asp-for="@Model.PayOut" placeholder="Payout:" class="form-control" />
            </div>
            <div class="col-4">
                <input asp-for="@Model.DailyCap" placeholder="Daily cap:" class="form-control" />
            </div>
            <div class="col-4">
                <vc:languages-select-options></vc:languages-select-options>
            </div>
        </div>
        <div class="form-group">
            <div class="col-4">
                <input asp-for="@Model.PayPerClick" placeholder="Earning per click:" class="form-control"/>
            </div>
        </div>
        <div class="form-group">
            <div class="col-4">
                <input class="btn btn-primary text-center" type="submit" value="Create" />
            </div>
        </div>
    </form>
</div>