@model GoldLeadsMedia.Web.Models.ViewModels.AdministratorsInformationViewModel

<div class="btn-group" role="group" aria-label="Basic example">
    <a asp-controller="Administrators" asp-action="CreateOffer" class="btn btn-primary">Create offer</a>
    <a asp-controller="Administrators" asp-action="AssignLandingPagesToOffer" class="btn btn-primary">Assign landing pages to offers</a>
    <a asp-controller="Administrators" asp-action="RegisterAffiliate" class="btn btn-primary">Register affiliate</a>
    <a asp-controller="Administrators" asp-action="RegisterLandingPage" class="btn btn-primary">Register landing Page</a>
    <a asp-controller="Administrators" asp-action="RegisterBroker" class="btn btn-primary">Register broker</a>
    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#todaysErrors">Today's errors</button>
</div>

<hr />
<h2 class="text-center">Developer errors</h2>
<hr />

<div class="row">
    <div class="list-group col-12">
        @foreach (var devError in Model.DeveloperErrors)
        {
            <a href="#" class="list-group-item list-group-item-action">[@devError.CreatedOn] @devError.Information @devError.Message</a>
        }
    </div>
</div>

<div class="modal fade" id="todaysErrors" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Today's errors</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                Developer today errors: @Model.DeveloperErrorsCount<br />
                Send leads today errors: @Model.SendLeadsErrorsCount<br />
                Ftd scan today errors: @Model.FtdScanErrorsCount<br />
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary col-12" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

