@model GoldLeadsMedia.Web.Models.ViewModels.ManagersAffiliatesViewModel

<div>
    <h3 class="display">Affiliates</h3>
</div>
<hr />
<div class="col-12">
    <div class="row">
        <table class="table table-sm">
            <tr class="row-header">
                <th>Username</th>
                <th>Skype</th>
                <th>Experience</th>
                <th>IsVIP</th>
                <th>IsDeleted</th>
            </tr>
            <tbody class="table-tbody">
                @foreach (var affiliate in Model.Affiliates)
                {
                    <tr class="table-row aff-details clickable-table-row" data-user="@affiliate.Id">
                        <td>
                            @affiliate.UserName
                        </td>
                        <td>
                            @affiliate.Skype
                        </td>
                        <td>
                            @affiliate.Experience
                        </td>
                        <td>
                            @affiliate.IsVip
                        </td>
                        <td>
                            @affiliate.IsDeleted
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

@section Scripts
{
    <script src="~/js/managers/affiliates.js"></script>
}