@model GoldLeadsMedia.Web.Models.ViewModels.ManagersNotConfirmedLeadsViewModel

<h3 class="display-3 text-center">Pending for confirm leads</h3>
<hr />
<div class="col-12">
    <div class="row">
        <table class="table table-sm">
            <tr class="row-header">
                <th>First name</th>
                <th>Last name</th>
                <th>Email</th>
                <th>PhoneNumber</th>
                <th>Country</th>
                <th>Offer</th>
                <th></th>
            </tr>
            <tbody class="table-tbody">
                @foreach (var lead in Model.NotConfirmedLeads)
                {
                    <tr class="table-row aff-details">
                        <td>
                            @lead.FirstName
                        </td>
                        <td>
                            @lead.LastName
                        </td>
                        <td>
                            @lead.Email
                        </td>
                        <td>
                            @lead.PhoneNumber
                        </td>
                        <td>
                            @lead.CountryName
                        </td>
                        <td>
                            @lead.OfferName
                        </td>
                        <td><input type="checkbox" name="leadId" value="@lead.Id"></td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
<div>
    <button class="btn btn-primary" id="confirm-leads-btn">Confirm leads</button>
</div>

@section Scripts
{
    <script src="~/js/managers/not_confirmed_leads.js"></script>
}

