@model GoldLeadsMedia.Web.Models.ViewModels.AffiliatesDetailsViewModel
@*<div class="row">
        <div class="col-8 offset-2">
            <img class="img-fluid" src="~/photos/notFound.png" alt="{{ALT_TEXT}}" />
        </div>
    </div>*@

<div class="lead-wrap">
    <div class="lead">
        <div class="lead-label">
            Username
        </div>
        <div class="lead-details">
            @Model.Affiliate.UserName
        </div>
    </div>
    <div class="lead">
        <div class="lead-label">
            Email
        </div>
        <div class="lead-details">
            @Model.Affiliate.Email
        </div>
    </div>
    <div class="lead">
        <div class="lead-label">
            Blocked
        </div>
        <div class="lead-details">
            @Model.Affiliate.IsBlocked
        </div>
    </div>
    <div class="lead">
        <div class="lead-label">
            Skype
        </div>
        <div class="lead-details">
            @Model.Affiliate.Skype
        </div>
    </div>
    <div class="lead">
        <div class="lead-label">
            Vip
        </div>
        <div class="lead-details">
            @Model.Affiliate.IsVip
        </div>
    </div>
    <div class="lead">
        <div class="lead-label">
            Experience
        </div>
        <div class="lead-details">
            @Model.Affiliate.Experience
        </div>
    </div>
    <div class="lead">
        <div class="lead-label">
            Total earned
        </div>
        <div class="lead-details">
            @Model.Affiliate.TotalEarned
        </div>
    </div>
    <div class="lead">
        <div class="lead-label">
            Total paid
        </div>
        <div class="lead-details">
            @Model.Affiliate.TotalPaid
        </div>
    </div>
</div>

<div class="col-12">
    <div class="row">
        @*<div class="col-12 col-sm-6">
                <h3 class="block-title">
                    Select period
                </h3>
            </div>
            <div class="col-12 col-sm-6">
                <form action="/Report/Index" method="get" class="reports">
                    <div class="form-group">
                        <input type="text" name="Date" id="date-range" value="@Model.Date" placeholder="Search" class="form-control">
                    </div>
                    <button type="submit" class="btn btn-secondary">Clear filters</button>
                    <button type="submit" class="btn btn-primary">Apply filters</button>
                </form>
            </div>*@
    </div>
    <div class="row">
        <table class="table table-sm">
            <tr class="row-header">
                <th>Affiliate</th>
                <th>Total Clicks</th>
                <th>Total Leads</th>
                <th>Total Ftds</th>
            </tr>
            <tbody>

                <tr class="table-row">
                    <td>
                        @Model.ReportSummary.AffiliateName
                    </td>
                    <td>
                        @Model.ReportSummary.TotalClicks
                    </td>
                    <td>
                        @Model.ReportSummary.TotalLeads
                    </td>
                    <td>
                        @Model.ReportSummary.TotalFtds
                    </td>
                </tr>

            </tbody>
        </table>

        @foreach (var offerReport in Model.ReportSummary.OfferReports)
        {
            <div class="card" style="width: 18rem;">
                <img src="@offerReport.ImageUrl" class="card-img-top" alt="...">
                <div class="card-body">
                    <h3 class="card-title">@offerReport.Name</h3>
                    <h5 class="card-title">Offer number: @offerReport.Number</h5>
                    <p class="card-text">Clicks: @offerReport.ClicksCount</p>
                    <p class="card-text">Leads: @offerReport.LeadsCount</p>
                    <p class="card-text">Ftds: @offerReport.FtdsCount</p>
                    <a asp-controller="Offers" asp-action="Details" asp-route-id="@offerReport.Id" class="btn btn-primary col-12 text-center">More details</a>
                </div>
            </div>
        }
    </div>
</div>

@section Scripts
{
    <script src="~/js/affiliates/details.js"></script>
}
